
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<style>
   
</style>
<body>
	<div class="main">  	
			<div class="signup">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label }}: <br> {{ field }}</p>
                    {% endfor %}
                    <button type="submit">Signup</button>
                </form>
			</div>

			<div class="login">
				<form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label }}: <br> {{ field }}</p>
                    {% endfor %}
                    <button type="submit">Login</button>
                </form>
			</div>
	</div>
</body>
</html>