<head>
    <title>Logged Out!</title>
<style>
     body {
     background-color: #f3f6f8a6;
    }
    h2 {
    font-family: monospace;
    font-size: 25px;
    }
    h3 {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    }
    .sad{
    content: "\2639";
    align-content: center;
    }
    a {
    display: block;
    }

</style>
</head>
<body>
{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h2 style="text-align: center;">You logged out!</h2>
    </div>
    <span class="sad"> &#9785;</span>
    <br>
    <h3>Do you want to login again?</h3>
    <br>
    <a href="{% url 'login' %}" class="button-login"> <button class="middle-button"> <span>&#8680;</span> Login</button></a> 
    <br>
    <a href="{% url 'home' %}" class="button-home"> <button class="middle-button"> <span>&#8680;</span> Go back to home</button></a>
{% endblock content %}
</body>