<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Logged Out!</title>
<style>
    
     body {
     background-color: #f3f6f8a6;
    }

    h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-shadow: 3px 3px 6px rgb(248, 156, 156);
    text-transform: uppercase;
    }
    h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    }
    .sad{
    content: "\2639";
    align-content: center;
    }
    .go-back {
    display: block;
    text-align: center;
    line-height: 1.5;
    }
</style>
</head>
<body>
{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h2 style="text-align: center;">You logged out!</h2>
    </div>
    <span class="sad"> &#9785;</span>
    <br>
    <h3>Do you want to login again?</h3>
    <br>
    <a class="go-back" href="{% url 'login' %}" class="button-login"> <button class="middle-button"> <span>&#8680;</span> Login</button></a> 
    <br>
    <a class="go-back" href="{% url 'home' %}" class="button-home"> <button class="middle-button"> <span>&#8680;</span> Go back to home</button></a>
    
    
{% endblock content %}
</body>