<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.5.1/jscolor.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

{% if user.is_authenticated %}
<style>
  * {
      padding: 0;
      margin: 0;
    }
    
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 100vh;
      font-family: 'Pathway Extreme', sans-serif;
    }
    
    p {
      margin: 16px;
      font-size: 17px;
      color: #32308b;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 1s ease-in-out;
      position: relative;
    
      &::before {
        content: attr(data-item);
        transition: all 1s ease-in-out;
        color: #6690dfa4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
      }
   
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
    
    nav {
      margin: 25px auto;
      padding: 16px;
      .menu {
        list-style: none;  
        display: flex;
        
        li {
          margin: 50px;

          a {
          text-decoration: none;
          color: #13237c;
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          position: relative;
          &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #8254ff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
          }
          &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
          }
          }  
        }
           }  
         }
        
    
  
  
   
  </style>
  </head>
  <body>
  
  <div><img src="/images/logo.jpg" alt=""></div>

  <p data-item='Your self-prescribed aid to shine'> Your self-prescribed aid to shine </p>
  
  <section>
    <nav >
      <ul class="menu">
        <li><a class="nav-link" href="{% url 'home'%}" data-item='Home'>Home <span class="sr-only"></span></a>
      </li>
        <li><a class="nav-link" href="{% url 'save_colors' %}" data-item='Create'>Create your own design</a>
      </li>
        <li><a class="nav-link" href="{% url 'my_colors' %}" data-item='Designs'>Your Designs</a>
      </li>
      <li><a class="nav-link" href="{% url 'logout' %}">Logout?</a></li>
      </ul>
    </nav>
  
  </section>
<section>
  <div class="alert alert-success" role="alert">
    <h3>Welcome {{ user.username }}!</h3>
    
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
    <h3>Welcome!</h3>
    <a href="{% url 'register' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
  </div>
  {% endif %}
</section>
