<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <title>Register</title>
</head>
<style>
    body {
        background-color: aliceblue;
    }
    h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(10, 10, 126);
    }
</style>
<h3>Register here</h3>
<hr>
<form action = "" method = "POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Register</button>
</form>